@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap');
@font-face {
  font-family: 'Black';
  src: url('./fonts/HurmeGeometricSans3-Black.otf') format('opentype');
}
@font-face {
  font-family: 'Bold';
  src: url('./fonts/HurmeGeometricSans3-Bold.otf') format('opentype');
}
@font-face {
  font-family: 'Regular';
  src: url('./fonts/HurmeGeometricSans3-Regular.otf') format('opentype');
}

@keyframes es-move {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes es-rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(180deg);
  }
}
#es-sodastream.es-sodastream {
  font-family: 'Regular', 'Roboto', sans-serif;
  font-size: 25px;
  line-height: 1.2;
  max-width: 1200px;
  min-width: 320px;
  margin: 0 auto;
  padding: 0;
  color: #eeeae5;
}
#es-sodastream.es-sodastream img {
  max-width: 100%;
}
#es-sodastream.es-sodastream .es-kv {
  background-color: #75a7ad;
  background-image: none;
  padding: 20px;
  min-height: 400px;
  margin-bottom: 0;
  padding-bottom: 0;
}
#es-sodastream.es-sodastream .es-kv__container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
#es-sodastream.es-sodastream .es-kv__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
#es-sodastream.es-sodastream .es-kv__contentText {
  margin-left: 0px;
}
#es-sodastream.es-sodastream .es-kv__bg {
  display: block;
  font-family: 'Bold', 'Roboto', sans-serif;
  font-weight: bold;
  color: #005d6e;
  font-size: 60px;
  margin: 0;
}
#es-sodastream.es-sodastream .es-kv__title {
  text-transform: uppercase;
  font-family: 'Bold', 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 30px;
  line-height: 1.2;
  margin-bottom: 40px;
}
#es-sodastream.es-sodastream .es-kv__subtitle {
  text-transform: uppercase;
  line-height: 1.2;
  font-size: 20px;
}
#es-sodastream.es-sodastream .es-kv__logo {
  max-width: 300px;
}
#es-sodastream.es-sodastream .es-kv__packshot {
  max-height: 450px;
  height: auto;
  margin-bottom: 0px;
  margin-left: 0px;
}
#es-sodastream.es-sodastream .es-kv__description {
  margin: 0 auto;
  margin-top: 50px;
  width: 87.6%;
  padding-bottom: 60px;
  text-align: center;
  font-family: 'Bold', 'Roboto', sans-serif;
  font-size: 23px;
  line-height: 1.2;
  background-color: #75a7ad;
}
#es-sodastream.es-sodastream .es-info {
  background-color: #75a7ad;
  padding-bottom: 50px;
}
#es-sodastream.es-sodastream .es-info__title {
  text-align: center;
  color: #13294b;
  font-family: 'Bold', 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 25px;
  margin: 0;
  padding-top: 70px;
}
#es-sodastream.es-sodastream .es-info__ctn {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
#es-sodastream.es-sodastream .es-info__single {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 300px;
  max-width: 350px;
  text-align: center;
  min-height: 300px;
  margin: 10px 0;
}
#es-sodastream.es-sodastream .es-info__single--middle {
  position: relative;
}
#es-sodastream.es-sodastream .es-info__single--middle::before {
  content: '';
  position: absolute;
  width: 0px;
  background-color: #13294b;
  height: 250px;
  left: 0;
  bottom: 0;
}
#es-sodastream.es-sodastream .es-info__single--middle::after {
  content: '';
  position: absolute;
  width: 0px;
  background-color: #13294b;
  height: 250px;
  right: 0;
  bottom: 0;
}
#es-sodastream.es-sodastream .es-info__iconCtn {
  min-height: 160px;
}
#es-sodastream.es-sodastream .es-info__icon {
  max-width: 130px;
}
#es-sodastream.es-sodastream .es-info__bold {
  margin: 0;
  font-family: 'Bold', 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 18px;
}
#es-sodastream.es-sodastream .es-info__desc {
  margin: 0;
  font-size: 16px;
  line-height: 1.2;
}
#es-sodastream.es-sodastream .es-set {
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #eeeae5;
}
#es-sodastream.es-sodastream .es-set__title {
  text-align: center;
  color: #13294b;
  font-family: 'Bold', 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 25px;
  margin: 0;
  padding-top: 70px;
  margin-bottom: 30px;
}
#es-sodastream.es-sodastream .es-start__claim {
  font-family: 'Regular', 'Roboto', sans-serif;
  font-size: 12px;
  margin: 0;
  padding-top: 25px;
  margin-bottom: 20px;
  text-align: center;
}
#es-sodastream.es-sodastream .es-set__img {
  margin: 20px;
}
#es-sodastream.es-sodastream .es-set__content {
  text-align: center;
  margin: 20px 0;
}
#es-sodastream.es-sodastream .es-set__listItem {
  color: #13294b;
  margin: 0;
  padding: 0;
  font-size: 20px;
}
#es-sodastream.es-sodastream .es-step {
  background-color: #eeeae5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
  padding-top: 290px;
}
#es-sodastream.es-sodastream .es-step__title {
  text-align: center;
  color: #13294b;
  font-family: 'Bold', 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 25px;
  margin: 0;
  padding-top: 70px;
}
#es-sodastream.es-sodastream .es-step__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
#es-sodastream.es-sodastream .es-step__single {
  min-width: 300px;
  max-width: 350px;
  min-height: 445px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
}
#es-sodastream.es-sodastream .es-step__number {
  font-family: 'Black', 'Roboto', sans-serif;
  font-weight: 700;
  color: #13294b;
  font-size: 50px;
  margin-bottom: 0;
}
#es-sodastream.es-sodastream .es-step__img {
  margin: 10px;
}

#es-sodastream.es-sodastream .es-step__desc {
  color: #13294b;
  font-size: 20px;
  margin-top: 0;
}
#es-sodastream.es-sodastream .es-step__desc span {
  font-family: 'Bold', 'Roboto', sans-serif;
  font-weight: bold;
}
#es-sodastream.es-sodastream .es-bubbles {
  background-color: #75a7ad;
  margin-top: 0;
}
#es-sodastream.es-sodastream .es-bubbles__title {
  text-align: center;
  color: #eeeae5;
  font-family: 'Bold', 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 25px;
  margin: 0;
  padding-top: 70px;
}
#es-sodastream.es-sodastream .es-bubbles__subtitle {
  margin-bottom: 30px;
  text-align: center;
  color: #eeeae5;
  font-size: 20px;
  line-height: 1.2;
}
#es-sodastream.es-sodastream .es-bubbles__ctn {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-bottom: 100px;
}
#es-sodastream.es-sodastream .es-bubbles__single {
  min-width: 300px;
  max-width: 350px;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
}
#es-sodastream.es-sodastream .es-bubbles__icon {
  margin: 10px;
}
#es-sodastream.es-sodastream .es-bubbles__desc {
  color: #13294b;
  font-size: 20px;
  line-height: 1.2;
}
#es-sodastream.es-sodastream .es-bubbles__desc span {
  font-family: 'Bold', 'Roboto', sans-serif;
  font-weight: bold;
}
#es-sodastream.es-sodastream .es-cta {
  background-color: #75a7ad;
}
#es-sodastream.es-sodastream .es-cta__ctn {
  max-width: 800px;
  margin: 0 auto;
  position: relative;
  margin-bottom: -330px;
  text-align: center;
}
#es-sodastream.es-sodastream .es-cta__btn {
  background-color: #75a7ad;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  position: absolute;
  bottom: -20px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  padding: 5px;
  box-shadow: 0px 8px 37px -10px rgb(19, 41, 75);
  animation: es-move 2s infinite;
  cursor: pointer;
}
#es-sodastream.es-sodastream .es-cta__btn img {
  width: 25px;
}
#es-sodastream.es-sodastream .es-rotate {
  animation: es-rotate 1s forwards;
}
#es-sodastream.es-sodastream .es-ctaInfo {
  background-color: #13294b;
  padding: 40px 0;
  padding-top: 310px;
  overflow: hidden;
}
#es-sodastream.es-sodastream .es-ctaInfo__title {
  text-align: center;
  color: #eeeae5;
  font-family: 'Bold', 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 25px;
  margin: 0;
  padding: 40px 10px;
}
#es-sodastream.es-sodastream .es-ctaInfo__main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
#es-sodastream.es-sodastream .es-ctaInfo__line {
  width: 1px;
  height: 400px;
  background-color: #75a7ad;
  margin: 0 20px;
  display: none;
}
#es-sodastream.es-sodastream .es-ctaInfo__single {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 20px;
  max-width: 500px;
  min-width: 320px;
  min-height: 260px;
}
#es-sodastream.es-sodastream .es-ctaInfo__desc {
  min-height: 90px;
  text-align: center;
  font-size: 25px;
}
#es-sodastream.es-sodastream .es-ctaInfo__text {
  text-align: center;
  font-size: 25px;
  color: #75a7ad;
  font-family: 'Bold', 'Roboto', sans-serif;
  font-weight: bold;
}
#es-sodastream.es-sodastream .es-slider {
  background-color: #75a7ad;
  padding-top: 50px;
}
#es-sodastream.es-sodastream .es-slider__title {
  text-align: center;
  color: #eeeae5;
  font-family: 'Black', 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 25px;
  margin: 0;
  line-height: 1.2;
}
#es-sodastream.es-sodastream .es-slider__title span {
  font-size: 35px;
}
#es-sodastream.es-sodastream .es-slider__slide {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#es-sodastream.es-sodastream .es-slider__slide--blue {
  background-color: #13294b;
  margin-top: -225px;
  padding-top: 210px;
}

#es-sodastream.es-sodastream .es-slider__content {
  position: relative;
}
#es-sodastream.es-sodastream .es-slider__imgCtn {
  margin: 0 auto;
  position: relative;
  max-width: 450px;
}
#es-sodastream.es-sodastream .es-slider__imgCtn--small {
  max-width: 350px;
}
#es-sodastream.es-sodastream .es-slider__subtitle {
  text-align: center;
  font-size: 30px;
  font-family: 'Bold', 'Roboto', sans-serif;
  font-weight: bold;
}
#es-sodastream.es-sodastream .es-slider__texts {
  padding: 10px;
  position: relative;
  margin: 0 auto;
  width: 75%;
}
#es-sodastream.es-sodastream .es-slider__texts--center {
  text-align: center;
  width: 80%;
}
#es-sodastream.es-sodastream .es-slider__text {
  margin-bottom: 30px;
  text-align: center;
  font-size: 18px;
}
#es-sodastream.es-sodastream .es-slider__claim {
  font-size: 12px;
  text-align: center;
}
#es-sodastream.es-sodastream
  #es-sodastream.es-sodastream
  .es-slider
  .swiper-button-prev:after,
#es-sodastream.es-sodastream
  #es-sodastream.es-sodastream
  .es-slider
  .swiper-container-rtl
  .swiper-button-next:after {
  display: none;
}
#es-sodastream.es-sodastream
  #es-sodastream.es-sodastream
  .es-slider
  .swiper-button-next:after,
#es-sodastream.es-sodastream
  #es-sodastream.es-sodastream
  .es-slider
  .swiper-container-rtl
  .swiper-button-prev:after {
  display: none;
}
#es-sodastream.es-sodastream
  #es-sodastream.es-sodastream
  .es-slider
  .swiper-button-next,
#es-sodastream.es-sodastream
  #es-sodastream.es-sodastream
  .es-slider
  .swiper-container-rtl
  .swiper-button-prev {
  right: -12px;
  left: auto;
}
#es-sodastream.es-sodastream
  #es-sodastream.es-sodastream
  .es-slider
  .swiper-button-prev,
#es-sodastream.es-sodastream
  #es-sodastream.es-sodastream
  .es-slider
  .swiper-container-rtl
  .swiper-button-next {
  left: -12px;
  right: auto;
}
#es-sodastream.es-sodastream
  #es-sodastream.es-sodastream
  .es-slider
  .swiper-container-horizontal
  > .swiper-pagination-bullets,
#es-sodastream.es-sodastream
  #es-sodastream.es-sodastream
  .es-slider
  .swiper-pagination-custom,
#es-sodastream.es-sodastream
  #es-sodastream.es-sodastream
  .es-slider
  .swiper-pagination-fraction {
  bottom: 0px;
}
#es-sodastream.es-sodastream
  #es-sodastream.es-sodastream
  .es-slider
  .swiper-pagination {
  position: absolute;
  bottom: -32px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  display: none;
}
#es-sodastream.es-sodastream .swiper-button-prev {
  height: 25px;
  width: 25px;
  top: 10%;
}
#es-sodastream.es-sodastream .swiper-button-next {
  height: 25px;
  width: 25px;
  top: 10%;
}
#es-sodastream.es-sodastream .swiper-button-next:after,
#es-sodastream.es-sodastream .swiper-button-prev:after {
  display: none;
}
#es-sodastream.es-sodastream
  #es-sodastream.es-sodastream
  .swiper-horizontal
  > .swiper-pagination-bullets,
#es-sodastream.es-sodastream
  .swiper-pagination-bullets.swiper-pagination-horizontal,
#es-sodastream.es-sodastream .swiper-pagination-custom,
#es-sodastream.es-sodastream .swiper-pagination-fraction {
  display: none;
}
#es-sodastream.es-sodastream
  #es-sodastream.es-sodastream
  .es-slider
  .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  display: inline-block;
  border-radius: 50%;
  background: #fff;
  border: 1px solid #1d1d1b;
  opacity: 1;
}
#es-sodastream.es-sodastream
  #es-sodastream.es-sodastream
  .es-slider
  .swiper-pagination-bullet:not(:last-child) {
  margin-right: 6px;
}
#es-sodastream.es-sodastream
  #es-sodastream.es-sodastream
  .es-slider
  .swiper-pagination-bullet-active {
  opacity: 1;
  background: #1d1d1b;
}
#es-sodastream.es-sodastream .es-eco {
  background-color: #13294b;
  padding-top: 20px;
}
#es-sodastream.es-sodastream .es-eco__content {
  margin: 0;
  padding: 10px;
}
#es-sodastream.es-sodastream .es-eco__title {
  text-align: center;
  font-family: 'Black', 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 25px;
  margin: 0;
  padding: 20px 10px;
  line-height: 1.2;
  text-transform: uppercase;
}
#es-sodastream.es-sodastream .es-eco__subtitle {
  text-align: center;
  color: #eeeae5;
  font-family: 'Bold', 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 22px;
  margin: 0;
  margin-bottom: 10px;
  padding: 10px;
  line-height: 1.2;
}
#es-sodastream.es-sodastream .es-eco__subtitle span {
  font-size: 30px;
}
#es-sodastream.es-sodastream .es-eco__desc {
  text-align: center;
  font-size: 30px;
  color: #eeeae5;
  font-family: 'Bold', 'Roboto', sans-serif;
  font-weight: bold;
  line-height: 1.2;
}
#es-sodastream.es-sodastream .es-eco__claim {
  text-align: center;
  font-size: 16px;
  opacity: 0.8;
}
#es-sodastream.es-sodastream .es-eco__img {
  margin: 0 auto;
  display: block;
  margin-bottom: -300px;
}
#es-sodastream.es-sodastream .es-taste {
  background-color: #75a7ad;
  padding: 150px 10px;
}
#es-sodastream.es-sodastream .es-taste__title {
  text-align: center;
  color: #eeeae5;
  font-family: 'Bold', 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 25px;
  margin: 0;
  padding: 20px 10px;
  line-height: 1.2;
}
#es-sodastream.es-sodastream .es-taste__desc {
  text-align: center;
  font-size: 20px;
}
#es-sodastream.es-sodastream .es-syroups {
  background: linear-gradient(to bottom, #13294b 30%, #75a7ad 0%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: -1px;
  margin-bottom: -1px;
}
#es-sodastream.es-sodastream .es-syroups__img {
  max-width: 310px;
  margin: 0 auto;
  display: block;
  margin-top: -75px;
}
#es-sodastream.es-sodastream .es-syroups__title {
  text-align: center;
  color: #eeeae5;
  font-family: 'Bold', 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 25px;
  margin: 0;
  padding: 20px 10px;
  line-height: 1.2;
}
#es-sodastream.es-sodastream .es-syroups__desc {
  text-align: center;
  font-size: 18px;
}
#es-sodastream.es-sodastream .es-syroups__pack {
  padding: 20px;
  display: block;
  width: 100%;
}
#es-sodastream.es-sodastream .es-video {
  background-color: #75a7ad;
  padding: 40px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#es-sodastream.es-sodastream .es-video__title {
  text-align: center;
  color: #eeeae5;
  font-family: 'Bold', 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 25px;
  margin: 0;
  padding: 20px 10px;
  line-height: 1.2;
}
#es-sodastream.es-sodastream .es-video__iframe {
  width: 90%;
  min-height: 450px;
  margin: 0 auto;
}
#es-sodastream.es-sodastream .es-video__hash {
  text-align: center;
  font-family: 'Bold', 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 35px;
  margin-top: 45px;
  margin-bottom: 35px;
}
#es-sodastream.es-sodastream .es-video__logo {
  max-width: 200px;
  margin: 0 auto;
  display: block;
}

@media screen and (min-width: 360px) {
  #es-sodastream.es-sodastream .es-slider__slide--blue {
    margin-top: -240px;
  }
  #es-sodastream.es-sodastream .es-cta {
    margin-top: -1px;
  }

  #es-sodastream.es-sodastream .es-slider__sllide--blue {
    margin-top: -225px;
    padding-top: 350px;
  }
}

@media screen and (min-width: 400px) {
  #es-sodastream.es-sodastream .es-bubbles__ctn {
    padding-bottom: 0;
  }
}
@media (min-width: 700px) {
  #es-sodastream.es-sodastream .es-kv {
    background-color: #75a7ad;
    background-image: url(./img/es-kv-bg-new.png);
    background-position: 0% 20%;
    background-repeat: no-repeat;
    background-size: 100% 90%;
    padding: 20px;
    min-height: 700px;
    margin-bottom: 0;
    padding-bottom: 0;
  }
  #es-sodastream.es-sodastream .es-kv__container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
  #es-sodastream.es-sodastream .es-kv__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }
  #es-sodastream.es-sodastream .es-kv__contentText {
    margin-left: 30px;
  }
  #es-sodastream.es-sodastream .es-kv__bg {
    display: none;
  }
  #es-sodastream.es-sodastream .es-kv__title {
    text-transform: uppercase;
    font-family: 'Bold', 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 35px;
    line-height: 1.2;
  }
  #es-sodastream.es-sodastream .es-kv__subtitle {
    text-transform: uppercase;
    line-height: 1.2;
    font-size: 25px;
  }
  #es-sodastream.es-sodastream .es-kv__logo {
    max-width: 350px;
  }
  #es-sodastream.es-sodastream .es-kv__packshot {
    max-height: 600px;
    height: auto;
    margin-bottom: -80px;
    margin-left: 0px;
  }
  #es-sodastream.es-sodastream .es-info__title {
    font-size: 45px;
  }
  #es-sodastream.es-sodastream .es-info__single--middle {
    position: relative;
  }
  #es-sodastream.es-sodastream .es-info__single--middle::before {
    content: '';
    position: absolute;
    width: 0px;
    background-color: #13294b;
    height: 250px;
    left: 0;
    bottom: 0;
  }
  #es-sodastream.es-sodastream .es-info__single--middle::after {
    content: '';
    position: absolute;
    width: 0px;
    background-color: #13294b;
    height: 250px;
    right: 0;
    bottom: 0;
  }
  #es-sodastream.es-sodastream .es-set__title {
    font-size: 45px;
  }
  #es-sodastream.es-sodastream .es-step__title {
    font-size: 45px;
  }
  #es-sodastream.es-sodastream .es-ctaInfo__title {
    font-size: 45px;
  }
  #es-sodastream.es-sodastream .es-ctaInfo__main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  #es-sodastream.es-sodastream .es-slider__title {
    font-size: 45px;
  }
  #es-sodastream.es-sodastream .es-slider__title span {
    font-size: 65px;
  }
  #es-sodastream.es-sodastream .es-slider__slide {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  #es-sodastream.es-sodastream .es-slider__content {
    position: relative;
  }
  #es-sodastream.es-sodastream .es-slider__imgCtn {
    display: block;
    max-width: 500px;
  }
  #es-sodastream.es-sodastream .es-slider__subtitle {
    font-size: 40px;
  }
  #es-sodastream.es-sodastream .es-slider__texts {
    padding: 40px;
  }
  #es-sodastream.es-sodastream .es-slider__text {
    font-size: 18px;
  }
  #es-sodastream.es-sodastream .es-eco__title {
    font-size: 45px;
  }
  #es-sodastream.es-sodastream .es-eco__desc {
    font-size: 25px;
  }
  #es-sodastream.es-sodastream .es-taste__title {
    font-size: 45px;
  }
  #es-sodastream.es-sodastream .es-taste__desc {
    font-size: 25px;
  }
  #es-sodastream.es-sodastream .es-syroups__title {
    font-size: 45px;
  }
  #es-sodastream.es-sodastream .es-slider .swiper-button-next,
  #es-sodastream.es-sodastream
    .es-slider
    .swiper-container-rtl
    .swiper-button-prev {
    right: 150px;
    left: auto;
    top: 50%;
    transform: translateY(-50%);
  }
  #es-sodastream.es-sodastream .es-slider .swiper-button-prev,
  #es-sodastream.es-sodastream
    .es-slider
    .swiper-container-rtl
    .swiper-button-next {
    left: 150px;
    right: auto;
    top: 50%;
    transform: translateY(-50%);
  }
  #es-sodastream.es-sodastream .es-slider .swiper-button-next,
  #es-sodastream.es-sodastream .es-slider .swiper-button-prev {
    width: 40px;
  }
  .swiper-button-prev {
    height: 40px;
    width: 40px;
  }
  .swiper-button-next {
    height: 40px;
    width: 40px;
  }
}
@media (min-width: 767px) {
  #es-sodastream.es-sodastream__line {
    display: block;
  }
}
@media (min-width: 900px) {
  #es-sodastream.es-sodastream .es-kv {
    background-color: #75a7ad;
    background-image: url(./img/es-kv-bg-new.png);
    background-repeat: no-repeat;
    background-size: contain;
    padding: 20px;
    margin-bottom: 0;
    padding-bottom: 0;
  }
  #es-sodastream.es-sodastream .es-kv__container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
  #es-sodastream.es-sodastream .es-kv__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }
  #es-sodastream.es-sodastream .es-kv__contentText {
    margin-left: 50px;
    margin-bottom: 15px;
  }
  #es-sodastream.es-sodastream .es-kv__bg {
    display: none;
  }
  #es-sodastream.es-sodastream .es-kv__title {
    text-transform: uppercase;
    font-family: 'Bold', 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 54px;
    line-height: 1.2;
  }
  #es-sodastream.es-sodastream .es-kv__subtitle {
    text-transform: uppercase;
    line-height: 1.2;
    font-size: 37px;
  }
  #es-sodastream.es-sodastream .es-kv__logo {
    margin-top: 30px;
    margin-left: 50px;
    max-width: 100%;
  }
  #es-sodastream.es-sodastream .es-kv__packshot {
    max-height: 850px;
    height: auto;
    margin-bottom: -41px;
    margin-left: -10px;
    margin-right: 188px;
  }
  #es-sodastream.es-sodastream .es-info__title {
    font-size: 45px;
  }
  #es-sodastream.es-sodastream .es-info__single--middle {
    position: relative;
  }
  #es-sodastream.es-sodastream .es-info__single--middle::before {
    content: '';
    position: absolute;
    width: 2px;
    background-color: #13294b;
    height: 250px;
    left: 0;
    bottom: 0;
  }
  #es-sodastream.es-sodastream .es-info__single--middle::after {
    content: '';
    position: absolute;
    width: 2px;
    background-color: #13294b;
    height: 250px;
    right: 0;
    bottom: 0;
  }
  #es-sodastream.es-sodastream .es-set__title {
    font-size: 60px;
  }
  #es-sodastream.es-sodastream .es-step__title {
    font-size: 60px;
  }
  #es-sodastream.es-sodastream .es-ctaInfo__title {
    font-size: 60px;
  }
  #es-sodastream.es-sodastream .es-ctaInfo__main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  #es-sodastream.es-sodastream .es-ctaInfo__line {
    display: block;
  }
  #es-sodastream.es-sodastream .es-slider__title {
    padding-top: 0;
    font-size: 60px;
  }
  #es-sodastream.es-sodastream .es-slider__title span {
    margin-bottom: 50px;
    display: inline-block;
    font-size: 60px;
  }
  #es-sodastream.es-sodastream .es-slider__slide {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  #es-sodastream.es-sodastream .es-slider__content {
    position: relative;
  }
  #es-sodastream.es-sodastream .es-slider__imgCtn {
    display: block;
    max-width: 720px;
  }
  #es-sodastream.es-sodastream .es-slider__imgCtn--small {
    max-width: 350px;
  }
  #es-sodastream.es-sodastream .es-slider__subtitle {
    font-size: 40px;
    margin-bottom: 40px;
  }
  #es-sodastream.es-sodastream .es-slider__texts {
    padding-top: 0;
  }
  #es-sodastream.es-sodastream .es-slider__text {
    font-size: 22px;
    margin-bottom: 80px;
  }
  #es-sodastream.es-sodastream .es-video__hash {
    font-size: 65px;
  }
  #es-sodastream.es-sodastream .es-slider__text--syroups {
    margin-bottom: 20px;
  }
  #es-sodastream.es-sodastream .es-eco__title {
    font-size: 60px;
  }
  #es-sodastream.es-sodastream .es-eco__desc {
    font-size: 28px;
    margin-bottom: 60px;
  }
  #es-sodastream.es-sodastream .es-taste__title {
    font-size: 45px;
  }
  #es-sodastream.es-sodastream .es-taste__desc {
    font-size: 18px;
  }
  #es-sodastream.es-sodastream .es-syroups__title {
    font-size: 45px;
  }
  #es-sodastream.es-sodastream .es-bubbles__title {
    padding-top: 50px;
    font-size: 60px;
  }
  #es-sodastream.es-sodastream .es-slider .swiper-button-next,
  #es-sodastream.es-sodastream
    .es-slider
    .swiper-container-rtl
    .swiper-button-prev {
    right: 150px;
    left: auto;
  }
  #es-sodastream.es-sodastream .es-slider .swiper-button-prev,
  #es-sodastream.es-sodastream
    .es-slider
    .swiper-container-rtl
    .swiper-button-next {
    left: 150px;
    right: auto;
  }
  #es-sodastream.es-sodastream .es-slider .swiper-button-next,
  #es-sodastream.es-sodastream .es-slider .swiper-button-prev {
    width: 40px;
  }
  .swiper-button-prev {
    height: 40px;
    width: 40px;
  }
  .swiper-button-next {
    height: 40px;
    width: 40px;
  }
} /*# sourceMappingURL=style.css.map */
